#sidebar-main {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #2d3436;
	overflow-x: hidden;
	padding-top: 10%;
	text-align: center;
}
#sidebar-main a {
	text-decoration: none;
	font-size: 25px;
	color: #dfe6e9;
	display: block;
	padding-top: 20px;
}
#sidebar-main a:hover {
	color: #d63031;
}
body {
	background-color: #636e72;
	color: #ffeaa7;
}
.main {
	margin-left: 20%;
	padding-top: 100px;
	padding-left: 20px;
}
